.body{
    display: grid;
    /*can be changed too a grid based. i chose flex bc its more 'flex'ible.*/
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 608px auto;
    
}

#title{
    grid-column-start: 2;
    grid-column-end: 1;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

#gameWindow{
    width: 800px;
    height: 608px;
    background-color: #0022fe;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox{
    width: 180px;
    height: 80px;
    background-color: #000000;
    top: 10px;
    left: 10px;
}

#dialogBar{
    bottom: 0px;
}

#setMainDialog{
    position: relative;
    width: 800px;
    height: 64px;
    background-color: #FFFFFF;
}

#heroAvatar{
    width: 100px;
    height: 100px;
    background-color: #fe9400;
    bottom: 0px;
    left: 0px;
}

#heroSpeach{
    width: 300px;
    background-color: #ffffff;
}

#counterSpeach{
    width: 300px;
    background-color: #ffffff;
}

#counterAvatar{
    width: 100px;
    height: 100px;
    background-color: crimson;
    bottom: 0px;
    right: 0px;
}

#squareTree{
    width: 46px;
    height: 46px;
    background-color: forestgreen;
    transition: all 1s ease-in-out;
}

#hero{
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: darkmagenta;
}

#tileMap{}

.background{
    position: absolute;
    z-index: 0;
    
}

.character{
    position: absolute;
    z-index: 100;
    transition: all 1s ease-in-out;
}

.foreground{
    position: absolute;
    z-index: 1000;
}